@model DemoWeb.Models.EmployeeTask

@{
    ViewData["Title"] = "Delete Assigned Task";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {



        // On clicking the login button
        $('#btnDelete').click(function (e) {
            e.preventDefault(); // Prevent default form submission

            // Get anti-forgery token
            var token = $("input[name='__RequestVerificationToken']").val();
            
            // Collect form data, including the RequestVerificationToken
            const data = {
                _RequestVerificationToken: token,
                EmployeeTaskId: $("#EmployeeTaskId").val(),
              
            };

            console.log({ data });

            // Send AJAX request
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "EmployeesTask")',
                data: data,
                headers: {
                    'RequestVerificationToken': token // Add the token in headers
                }
            })
                .done((data) => {
                    if (data.success) {
						window.location.href = data.redirectUrl; // Redirect to a new page on success
					} else {
						$('.modal-body').text(data.message)

						$('#exampleModal').modal('show');
						console.error(data);
					}
                })
                .fail((err) => {
                    $('.modal-body').text(data.errors.errorMessage);

                    $('#exampleModal').modal('show');
                    console.error(err);
                })
                .always(() => {
                    console.log('always called');
                });
        });
    });
</script>



<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tasks.TaskTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tasks.TaskTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.employee.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.employee.EmployeeName)
        </dd>
     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tasks.TaskPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tasks.TaskPriority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignDate)
        </dd>
       
    </dl>

    <form asp-action="Delete" asp-controller="employeesTask">
        <input type="hidden" asp-for="EmployeeTaskId" />
        <input type="button" value="Delete" class="btn btn-danger" id="btnDelete" /> 
    </form>
</div>
