@model DemoWeb.Models.EmployeeTask

@{
    ViewData["Title"] = "Task Details";
}
<br />



<div class="container my-5">
    

    <div class="row">
        <!-- Profile Card -->
        <div class="col-md-4">
            <div class="card text-center shadow-sm">
                <div class="card-body">

                    <h4 class="card-title">@Model.tasks.TaskTitle</h4>
                    <p>
                        <strong>Status:</strong>
                        <span class="@(Model.TaskStatus == "Finish" ? "text-success" : Model.TaskStatus == "Pending" ? "text-warning" : "text-danger")">
                            @(Model.TaskStatus == "Finish" ? "Finish" : Model.TaskStatus == "Pending" ? "Active" : "Inactive")
                        </span>

                    </p>
                    <hr>
                    <p>
                        <strong>Priority:</strong>
                        <span class="@(Model.tasks.TaskPriority == "Urgent" ? "text-danger" : "text-success")">
                            @(Model.tasks.TaskPriority == "Urgent" ? "Urgent" : "Normal")
                        </span>

                    </p>
                    <p><strong>Task Description:</strong> @Model.tasks.TaskDescription</p>
                    <p><strong>Assign Date:</strong> @Model.AssignDate.ToString("yyyy-MM-dd")</p>
                    <p><strong>Due Date:</strong> @Model.DueDate.ToString("yyyy-MM-dd")</p>

                </div>
            </div>
        </div>
    </div>
</div>

