@* @model DemoWeb.Models.Employees

@{
    ViewData["Title"] = "Employees Details";
}

<h1>Employees Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeRole)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeRole)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeJoinedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeJoinedDate)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@