@model DemoWeb.Models.Employee
@{
    ViewData["Title"] = "Delete Employeed";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        // On clicking the login button
        $('#DeleteBtn').click(function (e) {
            e.preventDefault(); // Prevent default form submission

            // Get anti-forgery token
            var token = $("input[name='__RequestVerificationToken']").val();

            // Gather form data
            var data = {
                _RequestVerificationToken: token,
                EmployeeId: $('#EmployeeId').val(),
            };

            console.log(data);
            // Perform AJAX POST request
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "Employee")',
                data: data,
                headers: {
                    'RequestVerificationToken': token // Add the token in headers
                }
            })
                .done((data) => {

                    $('.modal-body').text(data.message);

                    $('#exampleModal').modal('show');
                    console.log({ data });
                })
                .fail((err) => {
                    $('.modal-body').text(data.errors.errorMessage);

                    $('#exampleModal').modal('show');
                    console.error(err);
                })
                .always(() => {
                    console.log('always called');
                });
        });
    });
</script>


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movies</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeePosition)
        </dd>

    </dl>

    <form>
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="EmployeeId" />
        <input type="button" value="Delete" id="DeleteBtn" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

